.nav-row {
  min-height: 3em;
  max-height: 200px;
}
#logo {
  width: 8em;
  margin-left: 5em;
}

#dog {
  width: 500px;
  margin: auto;
  background-color: antiquewhite;
}

.banner-row {
  background-color: antiquewhite;
  padding: 2em;
}

.card-img-top {
  max-width: 80%;
  margin: auto;
  margin-top: 0.8em;
}
.card-row {
  padding: 2em;
  background-color: #bee7f9;
}

.card {
  max-width: 15em;
  min-height: 20em;
}

.card-text {
  font-weight: 800;
  font-size: 1.2em;
}

.footer-row {
  background-color: rgb(229, 138, 72);
}

.pagamento {
  background-color: rgb(248, 248, 248);
  padding: 2em;
}

.bar {
  background-color: #0ccbff;
}

.pagamentos {
  margin-top: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 0.6em;
}

.categorias {
  font-size: 0.8em;
  color: aliceblue;
  padding: 1em;
}

.texto-footer {
  font-size: 0.8em;
  color: aliceblue;
  padding: 1em;
}

.form-row {
  max-width: 30em;
  margin: auto;
  margin-top: 2em;
}
